.app{
    height: 100%;
}
.app .header{
    height: 50px;
    background: dodgerblue;
    color: white;
    font-size: 14pt;
    font-weight: bold;
    line-height: 50px;
}
.app .footer{
    height: 30px;
    background: dodgerblue;
    color: white;
    font-size: 8pt;
    line-height: 30px;
}
.app .section{
    height: calc(100% - 120px);
    overflow: auto;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}