.coursecard{
    width: 100%;
    height: 350px;
    overflow: hidden;
    box-shadow: 0 10px 20px lightgray;
    border-radius: 10px;
}
.coursecard img{
    width: 100%;
    height: 200px;
}
.coursecard h3{
    padding: 0 20px;
}
.coursecard p{
    padding: 0 20px;

    display: flex;
    justify-content: space-between;
}